.cabecalho{
    display: flex;
    justify-content: space-between;
}

.cabecalho__menu{
    display: inline-block;
    background-image: url("../imagem/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
}

.conteiner{
    display: flex;
    justify-content: space-between;
    background-color: var(__branco);
    align-items: center;
    position: relative;
}

.conteiner__imagem{
    padding: 1em;
}
.lista__menu{
    display: none;
    position: absolute;
    top: 100%;
}
.conteiner__botao:checked~.lista__menu{
    display: block;
}